<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

	{% if title %}
		<title>Self Attendance System - {{ title }}</title>
	{% else %}
		<title>Self Attendance System</title>	
	{% endif %}	
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="/">Self Attendance System</a> 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
						<a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
					</div>
					<div class="navbar-nav">
						{% if current_user.is_authenticated %}
							<a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
						{% else %}	
							<a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
							<a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
						{% endif %}	
					</div>
				</div>	
			</div>
		</nav>
	</header> 

	<main role="main" class="container">
		<div class="row">
			<div class="col">
				{% with messages = get_flashed_messages(with_categories= true) %}
					{% if messages %}
						{% for category,message in messages %}
							<div class="alert alert-{{category}}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}	
				{% block content %} {% endblock %}
			</div>
		
		</div>
	</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>